<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal post_form" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-1">
                                <include file="Public/msg" title="logo" msg="100*100"/>
                                栏目多图:
                            </label>
                            <div class="col-sm-11">
                                <include file="Public/uploadfile" filetype="image" id="otherbanner" value="{$otherbanner}" editvalue="{:getEditFiles($otherbanner)}" width="100" path="config" limit="6" thumbw="100" thumbh="100" msg=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="post_form">提交</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>