<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal post_form" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-1">所属类别</label>
                            <div class="col-sm-11">
                                <select name="parent_id" id="parent_id" data-placeholder="选择一个类别..." class="chosen-select form-control" tabindex="2">
                                    <option value="0" selected>顶级类别</option>
                                    {:R($cmodelName.'/parentList', array($parentList))}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">类别名称</label>
                            <div class="col-sm-11">
                                <input name="category_name" id="category_name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">是否显示</label>
                            <div class="col-sm-11">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="is_show" value="1" checked>
                                        是
                                    </label>
                                    <label>
                                        <input type="radio" name="is_show" value="0">
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">顺序编号</label>
                            <div class="col-sm-11">
                                <input name="order_id" id="order_id" type="number" class="form-control" placeholder="顺序编号" value="0">
                            </div>
                        </div>

                        {:W('Admin/seoMeta',array('model'=>$model))}

                        <div class="form-group">
                            <label class="col-sm-1">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="post_form">提交</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>