<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{:U('add')}">添加类别</a>
                    </div>
                    <form action="{:U('index')}" method="get">
                        <div class="search">
                            <input type="text" name="category_name" class="form-control text" placeholder="类别名称" style="width:150px;" value="{$conditions.category_name}">
                            <button type="submit" class="btn btn-primary-outline">
                                <i class="icon-search"></i>
                                &nbsp;查询
                            </button>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th width="40" class="text-center">
                                <input type="checkbox" class="selectAllCheckbox">
                            </th>
                            <th>类别名称</th>
                            <th width="50" class="text-center">编号</th>
                            <th width="50" class="text-center">显示</th>
                            <th width="140" class="text-center sort-disabled" data-type="string">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {:R($cmodelName.'/allList', array($allList))}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="8">
                                <button type="button" class="btn btn-danger" onclick="confirmDel(prefun,delsel)">
                                    <i class="icon-trash"></i>
                                    删除
                                </button>
                                <div class="pull-right">
                                    {$page}<!--这里没有分页-->
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>