<extend name="Public/common"/>
<block name="header"></block>
<block name="sidebar"></block>
<block name="body">
    <div class="panel">
        <div class="panel-body">
            <form class="form-horizontal post_form" action="" method="post">
                <volist name="nodeList" id="list" key="m">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="margin-right:10px;display: block">
                                <input type="checkbox" name="node_id[]" value="{$list.node_id}" id="p_{$list.node_id}" onclick="selectCh($(this))"
                                {:in_array($list['node_id'],$tGroup)?'checked':''}> {$list.title}
                            </label>
                        </div>
                        <div class="checkbox">
                            <volist name="list['_']" id="item">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="node_id[]" class="c_{$list.node_id}" value="{$item.node_id}" onclick="selectPa('{$list.node_id}')"
                                    {:in_array($item['node_id'],$tGroup)?'checked':''}> {$item.title}
                                </label>
                            </volist>
                        </div>
                    </div>
                </volist>
                <div class="form-group">
                    <label class="col-sm-1">
                        <button type="submit" class="btn btn-primary ajax-post" target-form="post_form">提交</button>
                    </label>
                </div>
                <input type="hidden" name="group_id" value="{$group_id}"/>
            </form>
        </div>
    </div>
    <script>
        //全选
        function selectAll(e) {
            if (e.is(":checked")) {
                $("input[type='checkbox']").prop("checked", true);
            } else {
                $("input[type='checkbox']").prop("checked", false);
            }
        }
        //父选框控制子选框
        function selectCh(e) {
            var top_node_id = e.val();
            var isp = e.is(':checked');
            var obj = $(".c_" + top_node_id);
            for (var i = 0; i < obj.length; i++) {
                if (isp) {
                    obj[i].checked = true;
                } else {
                    obj[i].checked = false;
                }
            }
        }
        //子选框控制父选框
        function selectPa(top_node_id) {
            var iscNum = $('.c_' + top_node_id + ':checked').length;
            if (iscNum) {
                $('#p_' + top_node_id).prop("checked", true);
            } else {
                $('#p_' + top_node_id).prop("checked", false);
            }
        }
    </script>
</block>