<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{:U('add')}">添加管理员</a>
                    </div>
                    <form action="{:U('index')}" method="get">
                        <div class="search">
                            <input type="text" name="admin_name" class="form-control text" placeholder="用户名称" value="{$conditions.admin_name}" style="width:150px;">
                            <button type="submit" class="btn btn-primary-outline">
                                <i class="icon-search"></i>
                                &nbsp;查询
                            </button>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th width="40" class="text-center">
                                <input type="checkbox" class="selectAllCheckbox">
                            </th>
                            <th>用户名称</th>
                            <if condition="C('POWER_ROUTE')">
                                <th width="200" class="text-center">管理组别</th>
                            </if>
                            <th width="140" class="text-center">登录时间</th>
                            <th width="100" class="text-center">登录IP</th>
                            <th width="140" class="text-center sort-disabled" data-type="string">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="item">
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="selid[]" value="{$item.id}">
                                </td>
                                <td>{$item.admin_name}</td>
                                <if condition="C('POWER_ROUTE')">
                                    <td>{:D('AdminGroup')->getFieldByGroupId($item['group_id'],'group_name')}</td>
                                </if>
                                <td>{$item.login_time|date='Y-m-d H:i:s',###}</td>
                                <td>{$item.login_ip}</td>
                                <td class="text-center">
                                    <a type="button" class="btn btn-sm btn-success" href="{:U('edit',array('admin_id'=>$item['admin_id']))}">
                                        <i class="icon-edit"></i>
                                        编辑
                                    </a>
                                    <a type="button" class="btn btn-sm btn-danger ajax-get" href="{:U('del',array('admin_id'=>$item['admin_id']))}">
                                        <i class="icon-trash"></i>
                                        删除
                                    </a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="8">
                                <button type="button" class="btn btn-danger" onclick="confirmDel(prefun,delsel)">
                                    <i class="icon-trash"></i>
                                    删除
                                </button>
                                <div class="pull-right">
                                    {$page}
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>