<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal post_form" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-1">所属类别</label>
                            <div class="col-sm-11">
                                <select name="category_id" id="category_id" data-placeholder="选择一个类别..." class="chosen-select form-control" tabindex="2">
                                    {:R($cmodelName.'/categoryList', array($categoryList))}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">标题</label>
                            <div class="col-sm-11">
                                <input name="title" id="title" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">
                                <include file="Public/msg" title="title" msg="100*100"/>
                                上传图片
                            </label>
                            <div class="col-sm-11">
                                <include file="Public/uploadfile" filetype="image" id="picture" value="" editvalue="{}" width="100" path="news" limit="1" thumbw="100" thumbh="100" msg=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">详情内容</label>
                            <div class="col-sm-11">
                                <include file="Public/kindeditor" id="detail" value="" thumbw="" thumbh=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">是否显示</label>
                            <div class="col-sm-11">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="is_show" value="1" checked>
                                        是
                                    </label>
                                    <label>
                                        <input type="radio" name="is_show" value="0">
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">发布时间</label>
                            <div class="col-sm-11">
                                <input name="create_time" id="create_time" type="text" class="form-control form-datetime" value="{$Think.now|strtotime|date='Y-m-d H:i',###}" readonly>
                            </div>
                        </div>

                        {:W('Admin/seoMeta',array('model'=>$model))}

                        <div class="form-group">
                            <label class="col-sm-1">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="post_form">提交</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>