<extend name="Public/common"/>
<block name="body">
    <div class="main-content">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal post_form" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-1">节点名称</label>
                            <div class="col-sm-11">
                                <input name="title" id="title" type="text" class="form-control" value="{$model.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">节点标识</label>
                            <div class="col-sm-11">
                                <input name="name" id="name" type="text" class="form-control" value="{$model.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">主页面</label>
                            <div class="col-sm-11">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="is_top" value="1"
                                        {:$model['is_top']?'checked':''}> 是
                                    </label>
                                    <label>
                                        <input type="radio" name="is_top" value="0"
                                        {:$model['is_top']?'':'checked'}> 否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="post_form">提交</button>
                            </label>
                        </div>
                        <input type="hidden" name="node_id" value="{$model.node_id}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>